<div class="user-page-heading push-down-3">
  <div align ="center" class="container">
     <h1><%= @user.username %></h1>
     <div class="tagline"><%= @user.desc %></div>
      <div style="background-image: url(<%= @user.image_url %>)" class="user-profile-pic-circular"></div>
      <h3>created <%= @user.reviews.count %> reviews ● received <%= @user.upvoted_count %> upvotes ● has <%= @user.followers.count %> followers </h3>
      <div>
        <% if current_user.follows.include? @user %>
          <div class="following-message">You're following <%= @user.username %>!</div>
        <% elsif current_user != @user %>
          <%= form_tag("/followings", method: :post, remote: true) do %>
            <input type="hidden" name="following[follower_id]" value="<%= current_user.id %>">
            <input type="hidden" name="following[followed_id]" value="<%= @user.id %>">
            <button type="submit" class="follow btn btn-lg">Follow <%= @user.username %></button>
          <% end %>
        <% end %>
      </div>
  </div>
</div>

<div class="container user-page-content">
  <div class="row push-down-2">
    <div class="col-md-10 col-md-offset-1">
      <ul class="tabs">
        <li><a href="?tab=reviews">Reviews</a></li>
        <li><a href="?tab=follows">Follows</a></li>
        <li><a href="?tab=followers">Followers</a></li>
        <li><a href="?tab=recommendations">Recommendations</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="reviews col-md-8 col-md-offset-2">
      <% if params[:tab] == 'followers' %>
        <ul class="user-list">
        <% @user.followers.each do |follower| %>
          <li>
            <a href="<%= user_url(follower) %>">
              <div style="background-image: url(<%= follower.image_url %>)"class="user-profile-pic-circular"></div>
            </a>
            <a class="username" href="<%= user_url(follower) %>"><%= follower.username %></a>
          </li>
        <% end %>
        </ul>
      <% elsif params[:tab] == 'follows'  %>
        <ul class="user-list">
          <% @user.follows.each do |followed| %>
            <li>
              <a href="<%= user_url(followed) %>">
                <div style="background-image: url(<%= followed.image_url %>)"class="user-profile-pic-circular"></div>
              </a>
              <a class="username" href="<%= user_url(followed) %>"><%= followed.username %></a>
            </li>
          <% end %>
        </ul>
      <% elsif params[:tab] == 'recommendations' %>
        <ul class="recommendation-list">
          <% @recommendations.each do |episode| %>
            <li class="recommendation episode_<%= episode.id %>">
              <h3><%= link_to episode.title, episode  %>
                <div class="rating-container-podcast">
                  <div></div>
                </div>
              </h3>
              <div><%= episode.podcast.name %></div>
              <p><%= episode.desc %></p>
            </li>
          <% end %>
        </ul>
      <% else %>
        <% @reviews.each do |review| %>
          <div class="review review_<%= review.id %>">
            <h3>
              <% upvote = Upvote.where(review_id: review.id, user_id: current_user.id).first %>
              <% if upvote %>
                <i class="fa fa-thumbs-up upvoted upvote_<%= upvote.id %>"><small class="upvote-num"><%= review.upvoted_count %></small></i>
                <script>
                  $('.upvoted.upvote_<%= upvote.id %>').click(function(){
                    $.ajax({
                        dataType: "script",
                        url: "/upvotes/<%= upvote.id %>",
                        type: "DELETE",
                    })
                  });
                </script>
              <% else %>
                <i class="fa fa-thumbs-o-up not-upvoted upvote_review_<%= review.id %>"><small class="upvote-num"><%= review.upvoted_count %></small></i>
                <script type="text/javascript">
                  $('.not-upvoted.upvote_review_<%= review.id %>').click(function(){
                    $.ajax({
                        dataType: "script",
                        url: "/upvotes",
                        type: "POST",
                        data: {
                          upvote: {
                           user_id: <%= current_user.id %>,
                           review_id: <%= review.id %>,
                          }}
                    })
                  });
                  </script>
              <% end %>
              <%= link_to review.episode.title, review.episode  %>
              <div class="rating-container-podcast">
                <div></div>
              </div>
            </h3>
            <div><%= review.episode.podcast.name %></div>
            <p><%= review.contents %></p>
          </div>

        <% end %>
          <div class="pagination-container">
            <%= paginate @reviews %>
          </div>
      <% end %>

    </div>
  </div>
  <div class="row">
  </div>
</div>

<script>
  <% @reviews.each do |review| %>
    $('.review_<%= review.id %> .rating-container-podcast div').raty({
      score: <%= review.rating %>,
      path: 'assets',
      readOnly: true,
      starType: 'i'
    });
  <% end %>

  <% @recommendations.each do |episode| %>
    $('.recommendation.episode_<%= episode.id %> .rating-container-podcast div').raty({
      score: <%= episode.rating %>,
      path: 'assets',
      readOnly: true,
      starType: 'i'
    });
  <% end %>






</script>


