
<div class="container best-episodes-content push-down-2">
  <div class="row push-down-2">
    <h2>The best episodes</h2>
    <div class="col-md-8 col-md-offset-2 push-down-2">
      <% @episodes.each_with_index do |episode, index| %>
        <div class="row episode_<%= episode.id %>">
          <div class="col-md-2 num"><%= index + 1 %>.</div>
          <div class="col-md-3">
            <a href="episode_page.html"><img src="<%= episode.podcast.image_url %>" alt="serial"></a>
          </div>
          <div class="col-md-7">
            <a href="<%= episode_url(episode) %>"><strong><%= episode.episode_num %> - <%= episode.title %></strong></a><br>
            <div class="rating-container-best">
              <div></div>
            </div>
            <p><%= truncate(episode.desc, length: 200) %></p>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="pagination-container">
        <%= will_paginate @episodes, :previous_label => '< Prev', :next_label => 'Next >' %>
      </div>

    </div>
  </div>
</div>

<footer></footer>

<script>
<% @episodes.each do |episode| %>
  $('.episode_<%= episode.id %> .rating-container-best div').raty({
    score: <%= episode.rating ? episode.rating : 0 %>,
    path: 'assets',
    readOnly: true,
    starType: 'i'
  });
<% end %>


</script>
