
<div class="podcast-page-heading push-down-3">
  <div class="container">
    <a href="<%= podcast_url(@episode.podcast) %>"><img src="<%= @episode.podcast.image_url %>" alt="tal"></a>
  </div>
</div>
<div class="container episode-page-content">
  <div class="row push-down-1">
    <h1><a target="_blank" href="<%= @episode.url %>"><%= @episode.episode_num %> - <%= @episode.title %></a></h1>
    <div class="rating-container-orange">
      <!-- TODO fix ratings -->
      <% @episode.rating.to_i.times do  %>
        <i class="star-on-png"></i>
      <% end %>
      <i class="star-half"></i>
    </div>
    <div class="col-md-8 col-md-offset-2 push-down-1 desc">
      <p><%= @episode.desc %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div><a href="/reviews/new/from_episode?episode_id=<%= @episode.id %>">Create a review</a></div>
    </div>
  </div>

  <div class="row push-down-2">
    <h2>Reviews</h2>
    <div class="col-md-8 col-md-offset-2">
      <% @episode.reviews.each do |review| %>
        <div class="review">
          <h3>
            <i class="fa fa-thumbs-up"></i>
            <%= review.user.email %> (<%= review.user.reviews.count %>)
            <div class="rating-container-podcast">
              <% review.rating.times do %>
                <i class="star-on-png"></i>
              <% end %>
            </div>
          </h3>
          <p><%= review.contents %></p>
        </div>

      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="pagination-container">
      <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">></a></li>
      </ul>
    </div>

  </div>
</div>

<script>
  $('.rating-container-orange div, .rating-container-podcast div').raty({
    score: 4,
    path: 'assets',
    starType: 'i'
  });
</script>



<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
