
<div class="podcast-page-heading push-down-4">
  <div class="container">
    <a href="<%= podcast_url(@episode.podcast) %>"><img src="<%= @episode.podcast.image_url %>" alt="tal"></a>
  </div>
</div>
<div class="container episode-page-content">
  <div class="row push-down-1">
    <h1>
      <a target="_blank" href="<%= @episode.url %>">
        <%= @episode.episode_num %> - <%= @episode.title %>
      </a>
    </h1>
    <% if user_signed_in? %>
      <% review_for_current_user = Review.where(user_id: current_user.id, episode_id: @episode.id).first %>
    <% end %>

    <% if user_signed_in? && review_for_current_user %>
      <div class="rating-container-big orange">
        <div></div>
      </div>
    <% else %>
      <div class="rating-container-big">
        <div></div>
      </div>
    <% end %>
    <div class="published-date"><em>Published <%= @episode.published_date.strftime("%B %d, %Y") %></em></div>
    <div class="col-md-8 col-md-offset-2 push-down-1 desc">
      <p><%= @episode.desc %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="thought-form">
          <div class="col-sm-12">
            <h3>Your thoughts on '<%= @episode.title %>'</h3>
          </div>
          <% if user_signed_in? && review_for_current_user %>
            <%= form_tag("/reviews/#{review_for_current_user.id}", method: :put) do %>
              <div class="form-group">
                <div class="col-sm-12">
                  <textarea name="review[contents]" class="form-control" rows="5" placeholder="What did you think about <%= review_for_current_user.episode.title %>?" autofocus><%= review_for_current_user.contents %></textarea>
                </div>
                <div>
                  <input type="hidden" name="review[episode_id]" value="<%= review_for_current_user.episode.id %>" >
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 push-down-1">
                  <input type="submit" value="Update your thoughts on '<%= review_for_current_user.episode.title %>'" class="btn btn-default">
                </div>
              </div>
            <% end %>
          <% elsif user_signed_in? %>
            <%= form_tag('/reviews/') do %>
              <div class="form-group">
                <div class="col-sm-12">
                  <textarea name="review[contents]" class="form-control" rows="5" placeholder="What did you think about '<%= @episode.title %>'?" autofocus></textarea>
                </div>
                <div>
                  <input type="hidden" name="review[episode_id]" value="<%= @episode.id %>" >
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 push-down-1">
                  <input type="submit" value="Share your thoughts on '<%= @episode.title %>'" class="btn btn-default">
                </div>
              </div>
            <% end %>
          <% else %>
            <h3 class="sign-in-prompt"><a href="/users/sign_in">Sign in</a> to share your thoughts</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row push-down-2">
    <h2>Thoughts on <%= @episode.title %></h2>
    <div class="reviews col-md-8 col-md-offset-2">
      <% @reviews.each do |review| %>
        <div class="review review_<%= review.id %>">
          <h3>
            <% if user_signed_in? %>
              <% unless review.user == current_user %>
                <% upvote = Upvote.where(review_id: review.id, user_id: current_user.id).first %>
                <% if upvote %>
                  <i class="fa fa-thumbs-up upvoted upvote_<%= upvote.id %>" data-upvote-id="<%= upvote_id %>"><small class="upvote-num"><%= review.upvoted_count %></small></i>
                  <script>
                    $('.upvoted.upvote_<%= upvote.id %>').click(function(){
                      $.ajax({
                          dataType: "script",
                          url: "/upvotes/<%= upvote.id %>",
                          type: "DELETE",
                      })
                    });
                  </script>
                <% else %>
                  <i class="fa fa-thumbs-o-up not-upvoted upvote_review_<%= review.id %>" data-review-id=<%= review.id %>><small class="upvote-num"><%= review.upvoted_count %></small></i>
                <% end %>
              <% end %>

            <% else %>
              <i class="fa fa-thumbs-o-up not-upvoted upvote_review_<%= review.id %>"><small class="upvote-num"><%= review.upvoted_count %></small></i>
            <% end %>
            <a href="<%= user_url(review.user) %>"><%= review.user.username %></a>
            <div class="user-stats">
              <div class="user-upvote-num">received <%= review.user.upvoted_count %> upvotes</div>
              <div>created <%= review.user.reviews.count %> reviews</div>
            </div>
            <div class="rating-container-podcast">
              <div></div>
            </div>
          </h3>
          <% if review.user == current_user %>
            <p class="edit-review-box"><%= review.contents %></p>
            <a href="<%= edit_from_episode_url(review_id: review.id, prev_controller: params[:controller]) %>">Edit</a>
          <% else %>
            <p><%= review.contents %></p>
          <% end %>
        </div>

      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="pagination-container">
      <%= paginate @reviews %>
    </div>
  </div>
</div>

<script>
  <% @reviews.each do |review| %>
    $('.review_<%= review.id %> .rating-container-podcast div').raty({
      score: <%= review.rating ? review.rating : 0 %>,
      path: 'assets',
      readOnly: true,
      starType: 'i'
    });
  <% end %>


  <% if review_for_current_user %>
    $('.rating-container-big div').raty({
      score: <%= review_for_current_user.rating ? review_for_current_user.rating : 0 %>,
      path: 'assets',
      starType: 'i'
    });
  <% else %>
    $('.rating-container-big div').raty({
      score: <%= @episode.rating ? @episode.rating : 0 %>,
      path: 'assets',
      starType: 'i'
    });
  <% end %>


<% if user_signed_in? %>
  <% if review_for_current_user %>
    $('.rating-container-big div i').click(function(){
      var rating = $(this).attr('data-alt');
      $.ajax({
          dataType: "script",
          url: "/reviews/<%= review_for_current_user.id %>",
          type: "PUT",
          data: {
            review: {
             user_id: <%= current_user.id %>,
             episode_id: <%= @episode.id %>,
             rating: rating,
            }}
      })
    });
  <% else %>
    $('.rating-container-big div i').click(function(){
      var rating = $(this).attr('data-alt');
      $.ajax({
          dataType: "script",
          url: '/reviews',
          type: "POST",
          data: {
            review: {
             user_id: <%= current_user.id %>,
             episode_id: <%= @episode.id %>,
             rating: rating,
            }}
      })
    });
  <% end %>
<% end %>


$('i.not-upvoted').click(function(){
  var reviewId = $(this).attr('data-review-id');
  console.log(reviewId);
  $.ajax({
      dataType: "script",
      url: "/upvotes",
      type: "POST",
      data: {
        upvote: {
         user_id: <%= current_user.id %>,
         review_id: reviewId,
        }}
  })
});




</script>



