
<div class="podcast-page-heading push-down-3">
  <div class="container">
    <a href="<%= podcast_url(@episode.podcast) %>"><img src="<%= @episode.podcast.image_url %>" alt="tal"></a>
  </div>
</div>
<div class="container episode-page-content">
  <div class="row push-down-1">
    <h1>
      <a target="_blank" href="<%= @episode.url %>">
        <%= @episode.episode_num %> - <%= @episode.title %>
      </a>
    </h1>
    <% if Review.where(user_id: current_user.id, episode_id: @episode.id).first %>
      <div class="rating-container-big orange">
        <div></div>
      </div>
    <% else %>
      <div class="rating-container-big">
        <div></div>
      </div>
    <% end %>
    <div class="col-md-8 col-md-offset-2 push-down-1 desc">
      <p><%= @episode.desc %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div><a href="/reviews/new/from_episode?episode_id=<%= @episode.id %>">Create a review</a></div>
    </div>
  </div>

  <div class="row push-down-2">
    <h2>Reviews</h2>
    <div class="reviews col-md-8 col-md-offset-2">
      <% @reviews.each do |review| %>
        <div class="review review_<%= review.id %>">
          <h3>
            <% upvote = Upvote.where(review_id: review.id, user_id: current_user.id).first %>
            <% if upvote %>
              <i class="fa fa-thumbs-up upvoted upvote_<%= upvote.id %>"></i>
              <script>
                $('.upvoted.upvote_<%= upvote.id %>').click(function(){
                  $.ajax({
                      dataType: "script",
                      url: "/upvotes/<%= upvote.id %>",
                      type: "DESTROY",
                  })
                });
              </script>
            <% else %>
              <i class="fa fa-thumbs-o-up not-upvoted upvote_review_<%= review.id %>"></i>
              <script type="text/javascript">
                $('.not-upvoted.upvote_review_<%= review.id %>').click(function(){
                  $.ajax({
                      dataType: "script",
                      url: "/upvotes",
                      type: "POST",
                      data: {
                        upvote: {
                         user_id: <%= current_user.id %>,
                         review_id: <%= review.id %>,
                        }}
                  })
                });
                </script>
            <% end %>
            <%= review.user.email %> (<%= review.user.reviews.count %>)
            <div class="rating-container-podcast">
              <div></div>
              <%# review.rating.times do %>
                <!-- <i class="star-on-png"></i> -->
              <%# end %>
            </div>
          </h3>
          <p><%= review.contents %></p>
        </div>

      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="pagination-container">
      <%= will_paginate @reviews, :previous_label => '< Prev', :next_label => 'Next >' %>
    </div>
  </div>
</div>

<script>
  <% @reviews.each do |review| %>
    $('.review_<%= review.id %> .rating-container-podcast div').raty({
      score: <%= review.rating %>,
      path: 'assets',
      readOnly: true,
      starType: 'i'
    });
  <% end %>

  $('.rating-container-big div').raty({
    score: <%= @episode.rating ? @episode.rating : 0 %>,
    path: 'assets',
    starType: 'i'
  });

  $('.rating-container-big div i').click(function(){
    var rating = $(this).attr('data-alt');
    $.ajax({
        dataType: "script",
        url: "/reviews",
        type: "POST",
        data: {
          review: {
           user_id: <%= current_user.id %>,
           episode_id: <%= @episode.id %>,
           rating: rating,
           contents: ""
          }}
    })
  });





</script>



<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
