
<div class="podcast-page-heading push-down-3">
  <div class="container">
    <a href="<%= podcast_url(@episode.podcast) %>"><img src="<%= @episode.podcast.image_url %>" alt="tal"></a>
  </div>
</div>
<div class="container episode-page-content">
  <div class="row push-down-1">
    <h1>
      <a target="_blank" href="<%= @episode.url %>">
        <%= @episode.episode_num %> - <%= @episode.title %>
      </a>
    </h1>
    <div class="rating-container-orange">
      <div></div>
    </div>
    <div class="col-md-8 col-md-offset-2 push-down-1 desc">
      <p><%= @episode.desc %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div><a href="/reviews/new/from_episode?episode_id=<%= @episode.id %>">Create a review</a></div>
    </div>
  </div>

  <div class="row push-down-2">
    <h2>Reviews</h2>
    <div class="col-md-8 col-md-offset-2">
      <% @reviews.each do |review| %>
        <div class="review review_<%= review.id %>">
          <h3>
            <% upvote = Upvote.where(review_id: review.id, user_id: current_user.id).first %>
            <% if upvote %>
              <i class="fa fa-thumbs-up"></i>
            <% else %>
              <i class="fa fa-thumbs-o-up"></i>
            <% end %>
            <%= review.user.email %> (<%= review.user.reviews.count %>)
            <div class="rating-container-podcast">
              <div></div>
              <%# review.rating.times do %>
                <!-- <i class="star-on-png"></i> -->
              <%# end %>
            </div>
          </h3>
          <p><%= review.contents %></p>
        </div>


      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="pagination-container">
      <%= will_paginate @reviews, :previous_label => '< Prev', :next_label => 'Next >' %>
    </div>
  </div>
</div>

<script>
  <% @reviews.each do |review| %>
    $('.review_<%= review.id %> .rating-container-podcast div').raty({
      score: <%= review.rating %>,
      path: 'assets',
      readOnly: true,
      starType: 'i'
    });
  <% end %>

  $('.rating-container-orange div').raty({
    score: <%= @episode.rating %>,
    path: 'assets',
    starType: 'i'
  });

  $('.rating-container-orange div i').click(function(){
    var rating = $(this).attr('data-alt');
    console.log(rating);
    $.ajax({
        dataType: "json",
        url: "/reviews",
        type: "POST",
        data: {review: {
                 user_id: <%= current_user.id %>,
                 episode_id: <%= @episode.id %>,
                 rating: rating,
                 contents: ""
               }},
        success: addNewReview(resp)
    });
  });

  function addNewReview(data) {
    alert('inside')
    console.log(data);
  }

</script>



<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
