
<div class="podcast-page-heading push-down-4">
  <div class="container">
    <a href="<%= podcast_url(@episode.podcast) %>"><img src="<%= @episode.podcast.image_url %>" alt="tal"></a>
  </div>
</div>
<div class="container episode-page-content">
  <div class="row push-down-1">
    <h1>
      <a target="_blank" href="<%= @episode.url %>">
        <%= @episode.episode_num %> - <%= @episode.title %>
      </a>
    </h1>
    <% review_for_current_user = Review.where(user_id: current_user.id, episode_id: @episode.id).first %>
    <% if user_signed_in? && review_for_current_user %>
      <div class="rating-container-big orange">
        <div></div>
      </div>
    <% else %>
      <div class="rating-container-big">
        <div></div>
      </div>
    <% end %>
    <div class="col-md-8 col-md-offset-2 push-down-1 desc">
      <p><%= @episode.desc %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% review = Review.where(user_id: current_user.id, episode_id: @episode.id).first %>
      <% if review %>
        <div><a href="/reviews/edit/from_episode?review_id=<%=review.id %>&episode_id=<%=@episode.id %>">Edit your thoughts on <%= @episode.title %></a></div>
      <% else %>
        <div><a href="/reviews/new/from_episode?episode_id=<%= @episode.id %>">Share your thoughts on <%= @episode.title %></a></div>
      <% end %>
    </div>
  </div>

  <div class="row push-down-2">
    <h2>Reviews</h2>
    <div class="reviews col-md-8 col-md-offset-2">
      <% @reviews.each do |review| %>
        <div class="review review_<%= review.id %>">
          <h3>
            <% if user_signed_in? %>
              <% unless review.user == current_user %>
                <% upvote = Upvote.where(review_id: review.id, user_id: current_user.id).first %>
                <% if upvote %>
                  <i class="fa fa-thumbs-up upvoted upvote_<%= upvote.id %>"><small class="upvote-num"><%= review.upvoted_count %></small></i>
                  <script>
                    $('.upvoted.upvote_<%= upvote.id %>').click(function(){
                      $.ajax({
                          dataType: "script",
                          url: "/upvotes/<%= upvote.id %>",
                          type: "DELETE",
                      })
                    });
                  </script>
                <% else %>
                  <i class="fa fa-thumbs-o-up not-upvoted upvote_review_<%= review.id %>"><small class="upvote-num"><%= review.upvoted_count %></small></i>
                  <script type="text/javascript">
                    $('.not-upvoted.upvote_review_<%= review.id %>').click(function(){
                      $.ajax({
                          dataType: "script",
                          url: "/upvotes",
                          type: "POST",
                          data: {
                            upvote: {
                             user_id: <%= current_user.id %>,
                             review_id: <%= review.id %>,
                            }}
                      })
                    });
                    </script>
                <% end %>
              <% end %>

            <% else %>
              <i class="fa fa-thumbs-o-up not-upvoted upvote_review_<%= review.id %>"><small class="upvote-num"><%= review.upvoted_count %></small></i>
            <% end %>
            <a href="<%= user_url(review.user) %>"><%= review.user.username %></a>
            <div class="user-stats">
              <div class="user-upvote-num">received <%= review.user.upvoted_count %> upvotes</div>
              <div>created <%= review.user.reviews.count %> reviews</div>
            </div>
            <div class="rating-container-podcast">
              <div></div>
            </div>
          </h3>
          <% if review.user == current_user %>
            <p class="edit-review-box"><%= review.contents %></p>
            <a href="<%= edit_from_episode_url(review_id: review.id, prev_controller: params[:controller]) %>">Edit</a>
          <% else %>
            <p><%= review.contents %></p>
          <% end %>
        </div>

      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="pagination-container">
      <%= paginate @reviews %>
    </div>
  </div>
</div>

<script>
  <% @reviews.each do |review| %>
    $('.review_<%= review.id %> .rating-container-podcast div').raty({
      score: <%= review.rating %>,
      path: 'assets',
      readOnly: true,
      starType: 'i'
    });
  <% end %>

  $('.rating-container-big div').raty({
    score: <%= @episode.rating ? @episode.rating : 0 %>,
    path: 'assets',
    starType: 'i'
  });

<% if user_signed_in? %>
  $('.rating-container-big div i').click(function(){
    var rating = $(this).attr('data-alt');
    $.ajax({
        dataType: "script",
        url: '/reviews',
        type: "POST",
        data: {
          review: {
           user_id: <%= current_user.id %>,
           episode_id: <%= @episode.id %>,
           rating: rating,
           contents: ""
          }}
    })
  });
<% end %>







</script>



