<li class="episode_<%= episode.id %> episode">
  <a href="<%= episode_url(episode) %>"><strong><%= episode.episode_num %> - <%= episode.title %></strong></a> <div class="rating-container-podcast"><div></div></div>
  <p><%= truncate episode.desc, length: 200 %></p>
</li>
