

<div class="podcast-page-heading push-down-4">
  <div class="container">
    <a href="#"><img src="<%= @podcast.image_url %>" alt="tal"></a>
  </div>
</div>
<div class="container podcast-page-content">
  <div class="row push-down-2">
    <div class="rating-container-orange">
      <div></div>
    </div>
    <div class="col-md-12 push-down-1 desc">
      <h1><%= @podcast.name %></h1>
      <p><%= @podcast.desc %></p>
    </div>
  </div>

  <div class="row push-down-2">
    <h2>Episodes</h2>
    <div class="col-md-8 col-md-offset-2 push-down-2 ep-container">
      <div class="pagination-container">
        <%= paginate @episodes %>
      </div>
      <ul class="episodes">
        <% @episodes.each do |episode| %>
          <li class="episode_<%= episode.id %> episode">
            <a href="<%= episode_url(episode) %>"><strong><%= episode.episode_num %> - <%= episode.title %></strong></a> <div class="rating-container-podcast"><div></div></div>
            <p><%= truncate episode.desc, length: 200 %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>



  <div class="row">
    <div class="pagination-container">
      <div class="pagination">
        <%= paginate @episodes %>
      </div>
    </div>

  </div>
</div>

<script>
  <% @episodes.each do |episode| %>

    $('.episode_<%= episode.id %> .rating-container-podcast div').raty({
      score: <%= episode.rating ? episode.rating : 0 %>,
      path: 'assets',
      readOnly: true,
      starType: 'i'
    });

  <% end %>



</script>


